<% layout('layouts/boilerplate') %>
<title><%= place.title %></title>
<div class="row">
    <div class="col-6 mb-3">
        <div class="card">
            <img src="<%= place.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    <%= place.title %>
                </h5>
                <p class="card-text">
                    <%= place.description %>
                </p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= place.kind %>
                </li>
                <li class="list-group-item">
                    <%= place.location %>
                </li>
                <li class="list-group-item">
                    Author: <%= place.user.firstname %>
                </li>

            </ul>
            <% if(firstname && place.user.firstname === firstname){ %>
            <div class="card-body d-flex justify-content-between ">
                <a href="/places/<%= place._id %>/edit" class="card-link btn btn-info">Edit Place</a>
                <form action="/places/<%= place._id %>/delete" method="post">
                    <button class="btn btn-danger">Delete Place</button>
                </form>
            </div>
            <% } %>
        </div>

    </div>
    <div class="col-6">
        <h2 >Type a review</h2>
        <form action="/places/<%= place._id %>/reviews" method="POST" class="mb-3">
            
            <div class="mb-3">
                <label class="form-label" for="rating">Rating:</label>
                <input class="form-range" type="range" name="rating" id="rating" min="1" max="5">
            </div>
            <div class="mb-3">
                <label class="form-label" for="review">Review:</label>
                <textarea class="form-control" name="review" id="review" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Save</button>
        </form>
        <% for(let review of place.reviews){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= review.rating %></h5>
                    <p class="card-text"><b><span><%= review.user.firstname %></span>- </b><%= review.review %></p>
                    
                    <form action="/places/<%= place._id %>/reviews/<%= review._id %>" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    
</div>
