<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="../stars.css">
<title><%= place.title %></title>
<div class="row">
    <div class="col-6 mb-3">
        <div class="card">
            <img src="<%= place.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    <%= place.title %>
                </h5>
                <p class="card-text">
                    <%= place.description %>
                </p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <%= place.kind %>
                </li>
                <li class="list-group-item">
                    <%= place.location %>
                </li>
                <li class="list-group-item">
                    Author: <%= place.user.firstname.toUpperCase() %>
                </li>

            </ul>
            <% if(firstname && place.user.firstname === firstname){ %>
            <div class="card-body d-flex justify-content-between ">
                <a href="/places/<%= place._id %>/edit" class="card-link btn btn-info">Edit Place</a>
                <form action="/places/<%= place._id %>/delete" method="post">
                    <button class="btn btn-danger">Delete Place</button>
                </form>
            </div>
            <% } %>
        </div>

    </div>
    <div class="col-6">
        <h2 >Type a review</h2>
        <form action="/places/<%= place._id %>/reviews" method="POST" novalidate class="validated-form mb-3">
            <fieldset class="starability-basic"> 
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            
            <div class="mb-3">
                <label class="form-label" for="review">Review:</label>
                <textarea class="form-control" name="review" id="review" cols="30" rows="3" maxlength="50" required></textarea >
            </div>
            <button class="btn btn-success">Save</button>
        </form>
        <% for(let review of place.reviews){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title"><%= review.user.firstname %></h4>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                      Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text"><%= review.review %></p>
                    <% if(firstname && review.user.firstname === firstname){ %>
                    <form action="/places/<%= place._id %>/reviews/<%= review._id %>" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    
</div>
